<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  <title>{% block title %}{% endblock %} - MSIT Comment Box</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery//2.2.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% block style %}

{% endblock %}
</head>
<body>
<!-- <nav class="navbar navbar-default"> -->
  <!-- <div class="container-fluid"> -->
    <!-- <div class="navbar-header"> -->
      <!-- <img class="navbar-brand pull-left" widhth="100%" height="100%" src="/favicon.ico" /> -->
      <!-- <a class="navbar-brand" href="#">MSIT</a> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </nav> -->
<div class="container">
{% block content %}

{% endblock %}
</div>
{% block script %}

{% endblock %}    
</body>
</html>